{% extends "layout.html" %}
{% block title %}
Customize
{% endblock %}
{% block content %}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Customize Products</h2>
              <p>Home <span>-</span>Customize Products</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="cat_product_area section_padding">
    <div class="container">
        <h1 class="cf-pg-title"><span>New XPS 13 Laptop (Silver)</span></h1>
        <div data-bv-product-id="xps-13-9300-laptop" data-bv-show="rating_summary" class="cf-header-ratings-wrap"></div>
        <div class="row cf-hero-section">
            <div class="col cf-hero-imaging-section" id="cf_hero_image_wrap">
                <div>
                    <div class="OoyalaVideo">
                        <figure class="cf-ooyala-video-wrap" cf-has-thumbnail="true">
                            <img class="cf-ooyala-poster" src="//i.dell.com/is/image/DellContent/content/dam/global-site-design/product_images/dell_client_products/notebooks/xps_notebooks/xps_13_9300/general/2405-notebook-xps-13-9300-504x350_1.png?fmt=jpg" alt="Video: XPS 13 Laptop 2020 Product Walkthrough 0:29" title="Video: XPS 13 Laptop 2020 Product Walkthrough 0:29">
                            <div class="cf-ooyala-triangle" aria-label="Video: XPS 13 Laptop 2020 Product Walkthrough" role="button" tabindex="0"></div>
                            <div class="media-player" itemscope="" itemtype="https://schema.org/VideoObject">
                    
                                <meta itemprop="description" content="13-inch laptop designed with precision engineered details, from stunning materials to minimal footprint, with true unrivaled performance and 10th Gen&nbsp;InteI® Core™ processors.">
                                <meta itemprop="duration" content="T0M29S">
                                <meta itemprop="thumbnailURL" content="//i.dell.com/is/image/DellContent/content/dam/global-site-design/product_images/dell_client_products/notebooks/xps_notebooks/xps_13_9300/general/2405-notebook-xps-13-9300-504x350_1.png?fmt=jpg">
                                <meta itemprop="contentURL" content="//secure-cf-c.ooyala.com/tzc2l3aTE6BxGmXaDMB3QAiscUm4haJM/DOcJ-FxaFrRg4gtDIwOjYyOjBhO_Sx9n">
                                <meta itemprop="expires" content="2021-12-13T14:28:00+00:00 ">
                                <meta itemprop="uploadDate" content="2020-01-31T15:32:00Z">
                                <meta itemprop="name" content="XPS 13 Laptop 2020 Product Walkthrough">
                    
                                <div class="media-player-container video-data-container oo-player-container" id="video-e7457311bbd341fcaea92244d0470221" data-id="video-e7457311bbd341fcaea92244d0470221" data-code="tzc2l3aTE6BxGmXaDMB3QAiscUm4haJM" data-country="my" data-language="en" data-segment="bsd" data-namespace="dellvideoplayer" data-autoplay="False" data-disableaudio="False" data-loopvideo="False" data-preload="true" data-testid="oo_video_player"></div>
                    
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
    
            <div class="col cf-hero-details">
                <div class="cf-hero-price">
                    <div class="cf-dell-price">
                        <div class="cf-price js-tooltip-trigger" js-is-clickable="" cf-title="Important Details" cf-message="<strong>Dell’s terms and conditions:</strong>&nbsp;apply to all sales available on request or at &quot;Terms and Conditions of Sale&quot; located at the bottom of our Website." data-price="6298.99">
                            RM 6,298.99
                        </div>
                    </div>
                </div>
                <div class="cf-hero-delivery-info">
                    <a target="_blank" href="//www.dell.com/learn/my/en/mybsd1/campaigns/shipping-and-delivery">Estimated Delivery Times</a>
                </div>
    
                <div class="cf-hero-bts">
                    <ul class="cf-hero-bts-list">
                        <li>
                            <div class="cf-hero-bts-img-wrap">
                                <img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/processor-blk.svg" alt="">
                            </div>
                            <p>10th Generation Intel® Core™ i5-1035G1 Processor (6MB Cache, up to 3.6 GHz)
                            </p>
                        </li>
                        <li>
                            <div class="cf-hero-bts-img-wrap">
                                <img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/laptop-blk.svg" alt="">
                            </div>
                            <p>Windows 10 Pro (64bit) English
                            </p>
                        </li>
                        <li>
                            <div class="cf-hero-bts-img-wrap">
                                <img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/videocard-blk.svg" alt="">
                            </div>
                            <p>Intel® UHD Graphics with shared graphics memory
                            </p>
                        </li>
                        <li>
                            <div class="cf-hero-bts-img-wrap">
                                <img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/memory-blk.svg" alt="">
                            </div>
                            <p>8GB 3733MHz LPDDR4x Memory Onboard
                            </p>
                        </li>
                        <li>
                            <div class="cf-hero-bts-img-wrap">
                                <img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/harddrive-blk.svg" alt="">
                            </div>
                            <p>512GB M.2 PCIe NVMe Solid State Drive
                            </p>
                        </li>
                        <li class="cf-ports-and-slots">
                            <div class="cf-hero-bts-img-wrap"><img onerror="this.style.display='none'" src="//afcs.dellcdn.com/csb/configux/bundles/1.0.5.16083/images/ports-blk.svg" alt=""></div>
                            <p>
                                <a>Ports &amp; Slots x4</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="cf-padding-bottom-10 cta_form">
                    <form method="post" action="/en-my/work/shop/business-laptop-notebook-computers/new-xps-13-laptop-silver/spd/xps-13-9300-laptop/w5170131100myw10pro?cs=mybsd1&amp;handler=purchase">
                        <button class="btn btn-success full-width cf-atc-btn dellmetrics-browseconfig " data-testid="addToCartButton" data-save-label="Save Changes">
                            Buy Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="margin: 0px 0px 0px 15%; background-color: aliceblue;" class="col col-md-9 col-sm-8" data-load-configuration="true" data-load-configuration-api="/csbapi/configurator/loadconfiguration/my/en/bsd/mybsd1/w5170131100myw10pro">
    <div class="cf-subhead-wrap">
        <h2 class="cf-prod-title-wrap">
        Tech Specs &amp; Customization New XPS 13 Laptop (Silver)
        </h2>
        <div class="row cf-page-validation">
        <div class="page-validation-wrap col"></div>
        </div>
    </div>
    <div class="" id="config_wrap">

        <div class="cf-collapse-wrap" cf-is-expanded="true">
            <div class="cf-toggle-target cf-module-section-wrap" id="5781571_Trigger">
                <div class="row cf-module-wrap" cf-module-id="146">
                    <div class="col col-md-4 cf-module-left-col">
                        <h4 class="cf-module-title">Processor</h4>

                    </div>
                    <div class="col col-md-8 cf-module-right-col">
                        <div class="cf-validation-wrap"></div>
                        <div class="cf-options-wrap   ">
                            <div class="cf-opt-wrap selected">

                                <div class="cf-read-only-wrap">
                                    <div>
                                        10th Generation Intel® Core™ i5-1035G1 Processor (6MB Cache, up to 3.6 GHz)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="11">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Operating System</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>
                <div class="cf-opt-message">Windows 10 Pro makes protecting and accessing your personal PC and important files easy, whether you’re at home or away. Safeguard sensitive material with encryption settings in BitLocker, and have the flexibility to share with specific recipients via USB. And never be without access to your PC through Remote Desktop -- placing your files at your fingertips, anywhere and anytime. Operating System recovery media is not included with this purchase.</div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        Windows 10 Pro (64bit) English
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="6">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Video Card</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        Intel® UHD Graphics with shared graphics memory
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="3">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Memory<a class="technote microcontent" rel="technotes:1-gb"><sup><small>i</small></sup></a></h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        8GB 3733MHz LPDDR4x Memory Onboard
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="8">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Hard Drive</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        512GB M.2 PCIe NVMe Solid State Drive
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="760">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Display</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        13.4" FHD+ (1920 x 1200) InfinityEdge Non-Touch Anti-Glare 500-Nit Display
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="4">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Keyboard</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>


                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        Black Backlit Keyboard (US/International)
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="19">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Wireless</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        Killer™ Wi-Fi 6 AX1650 (2x2) and Bluetooth 5.0
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="112">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Primary Battery</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>

                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        4-Cell Battery, 52 Whr (Integrated)
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                    <div class="row cf-module-wrap" cf-module-id="1015">
                <div class="col col-md-4 cf-module-left-col">
                <h4 class="cf-module-title">Power Supply</h4>

                </div>
                <div class="col col-md-8 cf-module-right-col">
                <div class="cf-validation-wrap"></div>


                <div class="cf-options-wrap   ">
                <div class="cf-opt-wrap selected">

                <div class="cf-read-only-wrap">
                    <div>
                        E5 45W Type-C Power Adapter
                    </div>
                </div>


                </div>
                </div>


                </div>
                </div>

                <div class="row cf-module-wrap" cf-module-id="20">
                    <div class="col col-md-4 cf-module-left-col">
                        <h4 class="cf-module-title">Power Cord (System)</h4>

                    </div>
                    <div class="col col-md-8 cf-module-right-col">
                        <div class="cf-validation-wrap"></div>


                        <div class="cf-options-wrap   ">
                            <div class="cf-opt-wrap selected">

                                <div class="cf-read-only-wrap">
                                    <div>
                                        Black Power Cord (UK)
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="cf-collapse-wrap" cf-is-expanded="false">
            <h3>
                <a class="cf-collapse-head" href="javascript:;" cf-toggle-target="5781572_Trigger" role="button" aria-expanded="false" aria-controls="5781572_Trigger">
                    <span class="cf-icon-circle-arrow arrow-up"></span> Support My Dell
                </a>
            </h3>
            <div class="cf-toggle-target cf-module-section-wrap" id="5781572_Trigger">
                <div class="row cf-module-wrap" cf-module-id="30">
                    <div class="col col-md-4 cf-module-left-col">
                        <h4 class="cf-module-title">Warranty</h4>
                        <img src="//i.dell.com/das/dih.ashx/314x314/images/global/products/314x314/premium_support_category_en_314x314.jpg" alt="" cf-lazy-src="//i.dell.com/das/dih.ashx/314x314/images/global/products/314x314/premium_support_category_en_314x314.jpg" cf-lazy-prior="medium" onerror="this.style.display = 'none';">
                    </div>
                    <div class="col col-md-8 cf-module-right-col">
                        <div class="cf-validation-wrap"></div>
                        <div class="cf-opt-message"><span style="font-size:1.2em;"><b>On-site Service And Advanced Exchange Service:</b></span><br>Technician, replacement part or unit (depending on service contract) will be dispatched if necessary following phone-based troubleshooting. Subject to parts availability, geographical restrictions (onsite and/or next business day service not available in some locations) and terms of service contract. Service timing dependent upon time of day call placed to Dell. Defective unit must be returned or paid for. Replacements may be refurbished. For Dell projectors, bulbs have a 90 day limited warranty. Onsite service not available on all products.<br> <p>SupportAssist is only available on Windows 8, 8.1, and 10 based products. Not available on Ubuntu, Steam, Windows RT, Android or Chrome based products.</p></div>
                        <div class="cf-options-wrap   "></div>
                
                        <div class="cf-options-group-wrap">
                            <h5 class="cf-option-group-title">Getting Started</h5>
                            <div>
                                <div class="cf-options-wrap   ">
                                    <form>
                                        {% for abc in abc_list %}
                                        <div class="cf-opt-wrap ">
                                            <div class="cf-input-wrap">
                                                <div class="cf-input-container" for="G2KMUC4">
                                                    <input type="radio" cf-price="" aria-label="3Y Carry-In Service" name="30" cf-has-quantity="" class="cfConfigInput" 
                                                        cf-id="G2KMUC4" id="--30-G2KMUC4" autocomplete="off" cf-detailsid="" cf-duration="0">
                                                    
                                                    <span class="block cf-opt-body">
                                                        
                                                        <div class="cf-opt-title">
                                                            <label for="--30-G2KMUC4">3Y Carry-In Service</label>
                                                            
                                                        </div>
                                                
                                                    </span>
                                                </div>
                                                <div class="cf-opt-price-wrap">
                                                    <div class="cf-opt-price">
                                                        
                                                        <span>+ RM 166.00</span>
                                                        <br>
                                                    </div>
                                                </div>
                                
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <button class="btn btn-success full-width cf-atc-btn dellmetrics-browseconfig cf-atc-dell-price" data-testid="addToCartButton" data-save-label="Save Changes">
                                            Add to cart
                                        </button>
                                    </form>
                                    <!-- <div class="cf-opt-wrap ">
                                        <div class="cf-input-wrap">
                                            <div class="cf-input-container" for="G2TVEGR">
                                                <input type="radio" cf-price="" aria-label="4Y Carry-In Service" name="30" cf-has-quantity="" class="cfConfigInput" cf-id="G2TVEGR" id="--30-G2TVEGR" autocomplete="off" cf-detailsid="" cf-duration="0">
                                                <span class="block cf-opt-body">
                                                        
                                                    <div class="cf-opt-title">
                                                        <label for="--30-G2TVEGR">4Y Carry-In Service</label>
                                                            
                                                    </div>
                                                </span>
                                            </div>
                                            <div class="cf-opt-price-wrap">
                                                <div class="cf-opt-price">
                                                    
                                                    <span>+ RM 415.00</span>
                                                    <br>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}